<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>
  img {
    max-width: 100%;
  }

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
  }

  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
  }

  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
  }

  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
  }

  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
  }

  .tab-content {
    overflow: hidden;
  }

  .tab-content img {
    width: 70%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
  }

  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .product-title,
  .price,
  .sizes,
  .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
  }

  .checked,
  .price span {
    color: #ff9f1a;
  }

  .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .sizes {
    margin-bottom: 15px;
  }

  .product-title {
    margin-top: 0;
  }

  .size {
    margin-right: 10px;
  }

  .size:first-of-type {
    margin-left: 40px;
  }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }

  .color:first-of-type {
    margin-left: 20px;
  }

  .add-to-cart,
  .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }

  .add-to-cart:hover,
  .like:hover {
    background: #b36800;
    color: #fff;
  }

  .not-available {
    text-align: center;
    line-height: 2em;
  }

  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
  }

  .orange {
    background: #ff9f1a;
  }

  .green {
    background: #85ad00;
  }

  .blue {
    background: #0076ad;
  }

  .tooltip-inner {
    padding: 1.3em;
  }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
</style>

<body>
  <div class="component">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Kid_pear</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shops">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>

        <div>
          <div style="display: flex;">
            <% if (userLoggedIn) { %>
              <!-- Kiểm tra userLoggedIn bằng true -->
              <a href="/cart-product2" class="cart-icon">&#128722;</a>
              <div class="username">
                Xin chào <%= username %>.
              </div>
              <div class="actions">
                <a href="/logout" class="text-sm font-semibold leading-6 text-gray-900">Đăng xuất</a>
                <!-- Thêm mã HTML và CSS cho biểu tượng giỏ hàng -->
              </div>
          </div>
          <% } else { %>
            <div>
              <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">
                Đăng nhập <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
            <% } %>
        </div>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="<%= product.imageSrc %>" /></div>

            </div>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title">
              <%= product.nameProduct %>
            </h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description">
              <%= product.Desc %>
            </p>
            <h4 class="price">current price: $<span>
                <%= product.price %>
              </span></h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5>

            <div class="action">
              <a href="#" id="addToCartButton" class="add-to-cart btn btn-default" type="button">Thêm vào giỏ hàng</a>
            </div>

            <span class="idProduct" hidden>
              <%= product.id %>
            </span>
            <span class="idCate" hidden>
              <%= product.categoryID %>
            </span>
            <span class="NameCate" hidden>
              <%= product.nameCategory %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script>
  // Bắt sự kiện click trên thẻ <a>

    document.querySelector('.add-to-cart').addEventListener('click', function (event) {
  event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>

  // Kiểm tra trạng thái đăng nhập
  fetch('/check-login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    }
  })
    .then(response => response.json())
    .then(data => {
      if (data.loggedIn) {
        // Đã đăng nhập, tiếp tục xử lý thêm vào giỏ hàng
        // Lấy thông tin từ trang HTML
        let userID = 1;
        let productID = document.querySelector('.idProduct').textContent;
        let imageSrc = document.querySelector('#pic-1 img').getAttribute('src');
        let idCategory = document.querySelector('.idCate').textContent;
        let nameCategory = document.querySelector('.NameCate').textContent;
        let nameProduct = document.querySelector('.product-title').textContent;
        let Price = document.querySelector('.price span').textContent;
        let Quantity = 1;

        // Gửi yêu cầu đến server
        fetch('/port-cart', {
          method: 'POST',
          body: JSON.stringify({
            userID: userID,
            productID: productID,
            imageSrc: imageSrc,
            idCategory: idCategory,
            nameCategory: nameCategory,
            nameProduct: nameProduct,
            Price: Price,
            Quantity: Quantity
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(response => response.json())
          .then(data => {
            console.log(data); // Log kết quả từ server
            alert("Thêm thành công");
            window.location.href = '/cart-product2';
          })
          .catch(error => {
            console.error('Error:', error);
          });
      } else {
        // Chưa đăng nhập, hiển thị thông báo yêu cầu đăng nhập
        alert('Vui lòng đăng nhập trước khi thêm vào giỏ hàng');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
});



</script>

</script>

</html>