<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang web bán hàng</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

    html,
    body {
        height: 100%
    }

    body {
        display: grid;
        background: #fff;
        font-family: 'Manrope', sans-serif
    }

    .mydiv {
        margin-top: 50px;
        margin-bottom: 50px
    }

    .cross {
        font-size: 10px
    }

    .padding-0 {
        padding-right: 5px;
        padding-left: 5px
    }

    .img-style {
        margin-left: -11px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        max-width: 104% !important
    }

    .m-t-20 {
        margin-top: 20px
    }

    .bbb_background {
        background-color: #E0E0E0 !important
    }

    .ribbon {
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: absolute
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 34px;
        border-radius: 50%;
        padding: 8px 0;
        background-color: #3498db;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 100 18px/1 'Lato', sans-serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center
    }

    .ribbon-top-right {
        top: -10px;
        right: -10px
    }

    .ribbon-top-right::before,
    .ribbon-top-right::after {
        border-top-color: transparent;
        border-right-color: transparent
    }

    .ribbon-top-right::before {
        top: 0;
        left: 17px
    }

    .ribbon-top-right::after {
        bottom: 17px;
        right: 0
    }

    .sold_stars i {
        color: orange
    }

    .ribbon-top-right span {
        right: 17px;
        top: 17px
    }

    div {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .bbb_deals_featured {
        width: 100%
    }

    .bbb_deals {
        width: 100%;
        margin-right: 7%;
        padding-top: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 34px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 0px
    }

    .bbb_deals_title {
        position: absolute;
        top: 10px;
        left: 22px;
        font-size: 18px;
        font-weight: 500;
        color: #000000
    }

    .bbb_deals_slider_container {
        width: 100%
    }

    .bbb_deals_item {
        width: 100% !important
    }

    .bbb_deals_image {
        width: 100%
    }

    .bbb_deals_image img {
        width: 100%
    }

    .bbb_deals_content {
        margin-top: 33px
    }

    .bbb_deals_item_category a {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5)
    }

    .bbb_deals_item_price_a {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6)
    }

    .bbb_deals_item_price_a strike {
        color: red
    }

    .bbb_deals_item_name {
        font-size: 24px;
        font-weight: 400;
        color: #000000
    }

    .bbb_deals_item_price {
        font-size: 24px;
        font-weight: 500;
        color: #6d6e73
    }

    .available {
        margin-top: 19px
    }

    .available_title {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400
    }

    .available_title span {
        font-weight: 700
    }

    @media only screen and (max-width: 991px) {
        .bbb_deals {
            width: 100%;
            margin-right: 0px
        }
    }

    @media only screen and (max-width: 575px) {
        .bbb_deals {
            padding-left: 15px;
            padding-right: 15px
        }

        .bbb_deals_title {
            left: 15px;
            font-size: 16px
        }

        .bbb_deals_slider_nav_container {
            right: 5px
        }

        .bbb_deals_item_name,
        .bbb_deals_item_price {
            font-size: 20px
        }
    }

    /*--------------------------------------------------------- //header */
    /* Set background color of header */
    header {
        background-color: #f9f9f9;
    }

    /* Set font size and weight of navbar brand */
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
    }

    /* Set margin and padding of navbar */
    .navbar {
        margin-bottom: 0;
        padding: 10px 20px;
    }

    /* Set text color and font weight of navbar links */
    .navbar-nav .nav-link {
        color: #333;
        font-weight: bold;
    }

    /* Set active link style */
    .navbar-nav .nav-link.active {
        color: #fff;
    }

    /* Set margin and padding of navbar list items */
    .navbar-nav>li {
        margin: 0 10px;
        padding: 10px 0;
    }

    /* Set navbar list items to be inline */
    .navbar-nav {
        display: flex;
        align-items: center;
    }

    /* Set style for login button */
    .login-btn {
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: bold;
        text-decoration: none;
    }

    /* Set hover and active styles for login button */
    .login-btn:hover,
    .login-btn:active {
        background-color: #555;
    }

    /*--------------------------------------------------------- //header */
    /* ========================================= */
    /*--------------------------------------------------------- //Banner */
    .banner {
        display: flex;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(142deg, rgba(224, 236, 222, 1) 0%, rgba(205, 224, 201, 1) 18%, rgba(44, 105, 117, 1) 100%);
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .banner-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .btn {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        color: #fff;
        /* background-color: #000; */
        transition: all 0.3s ease-in-out;
    }

    .btn:hover {
        background-color: #fff;
        color: #000;
    }

    /*--------------------------------------------------------- //Banner */

    .cate {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .more-cate {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bg-image {
        background-color: rgb(169, 199, 199);
    }

    .p-5 {
        height: 400px;
    }



    .card-columns {
        /* căn giữa */
        display: flex;
        width: 100%;


    }

    .card {
        cursor: pointer;
        border-radius: 0;
        height: 480px;
    }

    .card.cate1 {
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;

    }

    .card.cate1 img {
        display: block;
        width: 177%;
        height: auto;
        object-fit: cover;
    }

    .text-center {
        color: aliceblue;
        right: 0;
        top: 0;
        position: absolute;
        font-size: x-large;
        font-family: math;
        /* margin-top: -377px; */
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 73%;
        font-weight: bolder;
    }

    .shirts {
        height: 500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* // hero image */
    .hero-image {
        display: flex;
        /* position: relative; */
        height: 270px;
        background: linear-gradient(315deg, rgba(249, 248, 113, 1) 0%, rgba(255, 199, 95, 1) 14%, rgba(255, 150, 113, 1) 30%, rgba(255, 111, 145, 1) 48%, rgba(214, 93, 177, 1) 71%, rgba(132, 94, 194, 1) 100%);
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .hero-text {
        padding-left: 100px;
        color: #000;
    }

    .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #ddd;
        text-align: center;
        cursor: pointer;
    }

    .pane {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero-text button:hover {
        background-color: #555;
        color: white;
    }

    .wrapper-card {
        display: flex;
        justify-content: space-between;
    }

    .card-price {
        color: red;
    }

    .wrapper-price {
        display: flex;
        justify-content: space-between;

    }

    /* // */
    .wrapper-information {
        display: flex;
        justify-content: space-around;
    }

    .item-more {
        width: 37rem;
        position: relative;
    }

    .kk {
        margin: auto;
        width: 80%;
        margin-top: 70px;
    }

    .child-more {
        left: 45px;
        position: absolute;
        /* top: 0; */
        bottom: 30px;
        color: #fff;
    }

    .product-name {
        display: inline-block;
        margin-bottom: 0;
        width: 250px;
        /* Độ dài tối đa của tên sản phẩm */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<body>
    <!-- Start header-->
    <div class="component">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Kid_pear</a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/shops">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <div style="display: flex;">
                    <% if (userLoggedIn) { %>
                        <!-- Kiểm tra userLoggedIn bằng true -->
                        <a href="/cart-product2" class="cart-icon">&#128722;</a>
                        <div class="username">
                            Xin chào <%= username %>.
                        </div>
                        <div class="actions">
                            <a href="/logout" class="text-sm font-semibold leading-6 text-gray-900">Đăng xuất</a>
                            <!-- Thêm mã HTML và CSS cho biểu tượng giỏ hàng -->
                        </div>
                </div>
                <% } else { %>
                    <div>
                        <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">
                            Đăng nhập <span aria-hidden="true">&rarr;</span>
                        </a>
                    </div>
                    <% } %>
            </div>






    </div>
    </nav>
    </div>
    <!--End banner-->

    <!-- start banner -->
    <div class="banner">
        <div class="banner-content">
            <h2 class="banner-title">Welcome to our online store!</h2>
            <p class="banner-subtitle">Shop the latest trends in fashion, home goods, and more.</p>
            <a href="/shops" class="btn btn-primary">Shop now</a>
        </div>
    </div>
    <!-- End banner-->

    <!--Start body-->


    <div class="container-fluid cate">
        <div class="more-cate">
            <h3 class="category-product-header">Shop category</h1>
                <div>
                    <a href="/login" className="text-sm font-semibold leading-6 text-gray-900">
                        Xem tất cả <span aria-hidden="true">&rarr;</span>
                    </a>
                </div>
        </div>
        <div class="card-columns">
            <% for(let i=0; i < dataCate.length; i++){ %>
                <div class="card cate1">
                    <img src="<%= dataCate[i].imageSrc %>" alt="">
                    <div class="card-body text-center">
                        <p class="card-text">
                            <%= dataCate[i].nameCategory %>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>

        <!-- // hero page -->
        <div class="hero-image">
            <div class="hero-text">
                <p>__kid-pear__</p>
                <h1 style="font-size:50px">AMAZON DELIVERS TO YOU</h1>
                <p>Sự hài lòng của khách hàng là ưu tiên hàng đầu của chúng tôi</p>
                <button>Contact me</button>
            </div>
        </div>
        <!-- // hero page -->

        <div class="pane">
            <h1 class="category-product-header" style="margin-top: 75px;">Áo</h1>
            <div class="more">
                <a href="/login" className="text-sm font-semibold leading-6 text-gray-900">
                    Xem tất cả <span aria-hidden="true">&rarr;</span>
                </a>
            </div>

        </div>



        <div class="wrapper-card">
            <% for(let i=0; i < 4; i++) { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= dataTable[i].imageSrc %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-title product-name" href="/detail-product?id=<%= dataTable[i].id %>">
                            <%= dataTable[i].nameProduct %>
                        </a>
                        <p class="card-text">
                            <%= dataTable[i].Desc %>
                        </p>
                        <div class="wrapper-price">
                            <p>Giá tiền :</p>
                            <p class="card-price"> $
                                <%= dataTable[i].price %>
                            </p>

                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <!-- /////////////////////////////// -->
        <div class="pane">
            <h1 class="category-product-header" style="margin-top: 75px;">Quần</h1>
            <div class="more">
                <a href="/login" className="text-sm font-semibold leading-6 text-gray-900">
                    Xem tất cả <span aria-hidden="true">&rarr;</span>
                </a>
            </div>

        </div>



        <div class="wrapper-card">
            <% for(let i=4; i < 8; i++) { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= dataTable[i].imageSrc %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-title product-name" href="/detail-product?id=<%= dataTable[i].id %>">
                            <%= dataTable[i].nameProduct %>
                        </a>
                        <p class="card-text">
                            <%= dataTable[i].Desc %>
                        </p>
                        <div class="wrapper-price">
                            <p>Giá tiền :</p>
                            <p class="card-price">
                                <%= dataTable[i].price %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <!-- // -->
    <div class="kk">
        <h4>EXPLORE MORE FROM JORDAN</h4>

        <div class="wrapper-information">
            <div class="item-more">
                <img style="width: 100%;" class="img-more"
                    src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_706,c_limit/78d712ea-db3c-47da-b09c-f7cedb2f2557/jordan.jpg"
                    alt="">
                <div class="child-more">
                    <h5>Explore Jordan Basketball</h5>
                    <button>Shop</button>
                </div>
            </div>

            <div class="item-more">
                <img style="width: 100%;" class="img-more"
                    src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_706,c_limit/b208f842-84d5-4e41-ab9c-626149b388b4/jordan.jpg"
                    alt="">
                <div class="child-more">
                    <h5>Explore the Colection</h5>
                    <button>Learn more</button>
                </div>
            </div>
        </div>
    </div>
    <!--  // -->

    <!--End body-->

    <!-- footer -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container footer my-5">

        <footer style="background-color: #eee6d3;">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <h5 class="mb-3 text-dark">footer content</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                            voluptatem veniam, est atque cumque eum delectus sint!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-3 text-dark">links</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">FAQ</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Classes</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Pricing</a>
                            </li>
                            <li>
                                <a href="#!" style="color: #4f4f4f;">Safety</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-1 text-dark">opening hours</h5>
                        <table class="table" style="border-color: #666;">
                            <tbody>
                                <tr>
                                    <td>Mon - Fri:</td>
                                    <td>8am - 9pm</td>
                                </tr>
                                <tr>
                                    <td>Sat - Sun:</td>
                                    <td>8am - 1am</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
</body>


</html>