<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="width: 501px;
    background: beige;
    padding: 31px;
    margin-top: 6%;">
        <h1>Chỉnh sửa sản phẩm</h1>
        <div class="row-6">
            <form action="/put-crud-product-edit" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left: 0px;padding-right: 15px;">
                        <label for="inputEmail4">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="nameProduct" name="nameProduct"
                            placeholder="Nhập tên sản phẩm" value="<%=Product.nameProduct %>">
                        <!-- bắt buộc phải có name mới lấy được giá trị -->
                    </div>
                    <div class="form-group col-md-6" style="padding-left: 15px;padding-right: 0px;">
                        <label for="inputPassword4">Mô tả</label>
                        <input type="text" class="form-control" id="Desc" name="Desc" placeholder="Nhập mô tả" value="<%=Product.Desc %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left: 0px;padding-right: 15px;">
                        <label for="inputEmail4">Nhập link hình ảnh</label>
                        <input type="text" class="form-control" id="imageSrc" name="imageSrc"
                            placeholder="Dán link hình ảnh" value="<%=Product.imageSrc %>">
                        <!-- bắt buộc phải có name mới lấy được giá trị -->
                    </div>
                    <div class="form-group col-md-6" style="padding-left: 15px;padding-right: 0px;">
                        <label for="inputPassword4">Giá</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Nhập giá ($)" value="<%=Product.price %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left: 0px;padding-right: 15px;">
                        <label for="inputAddress">Danh mục</label>
                        <select class="form-control" id="nameCategory" name="nameCategory">
                            <% nameCategories.forEach((category)=> { %>
                                <option value="<%= category %>">
                                    <%= category %>
                                </option>
                                <% }) %>
                        </select>
                        <!-- bắt buộc phải có name mới lấy được giá trị -->
                    </div>
                    <div class="form-group col-md-6" style="padding-left: 15px;padding-right: 0px;">
                        <label for="inputPassword4">Số lượng</label>
                        <input type="text" class="form-control" id="inventorID" name="inventorID"
                            placeholder="Nhập số lượng" value="<%=Product.inventorID %>">
                    </div>
                </div>
                <input type="text" name="id" value="<%=Product.id %>" hidden>


                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Cập nhật sản phẩm</button>
            </form>
        </div>
    </div>

</body>

</html>